.Tilt {
  background: #4a4b4e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #812929, #3a2525);  /* Chrome 10-25, Safari 5.1-6 */
background-image: linear-gradient(to left, #812929 35%, #f08080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-left: 29px;
margin-top: 6vh;
}


.float{
    text-align: right;
    margin-left: 50vh;
    margin-top: 9vh;
    color: white;
} 
.react-logo {
display: inline-block;
border-radius:50%;
border:15px solid #3a0303;
margin-top: 2vh;


}
.logo{
        margin-right:7px;
        margin-top: 6px;
    }
  
.about{
    text-align: right;
   color: #3a0303;
   font-size: 31px;

  }  
  #Heading{
float: right;
text-align: right;
margin-top: 3vh;
margin-right: 3vh;
text-decoration: none;
font-size: 20px;
color: rgb(109, 20, 8);
transition:border-bottom 0.2s;
text-transform: uppercase;


  }
   #Heading:hover{
     color: rgb(100, 43, 43);
  }
  
         